@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 60px;
	padding: 67px;
	background: #ECF4FF;
	color: #1C1C1C;
	border-radius: 20px;
	box-shadow: 6px 6px 6px #0E1D2F;
}

a {
	text-decoration: none;
}

.perfil {
	display: flex;
	align-items: center;
}

.perfil img {
	margin-right: 16px;
	border-radius: 40%;
	max-height: 160px;
	box-shadow: 0px 4px 4px #00000025;
}

.perfil h1 {
	font-weight: 700;
	font-size: 36px;
}

.perfil h3 {
	font-weight: 400;
	font-size: 24px;
}

.tema {
	margin-left: auto;
	align-self: start;
}

.tema button {
	font-size: 24px;
	font-weight: 400;
	padding: 19px 24px;
	border-radius: 100px;
	border: solid 2px #0E1D2F;
	color: #0E1D2F;
	background: none;
}

.projetos {
	margin-top: 44px;
	padding: 24px;
	color: #ECF4FF;
	background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
	border-radius: 20px;
}

.projetos ul {
	list-style: none;
}

.projetos h2 {
	font-size: 48px;
	font-weight: 700;
}

.projetos li {
	margin: 7px;
	font-size: 36px;
	font-weight: 400;
}

.projetos li p {
	margin-bottom: 10px;
}
.rodape {
	margin-top: 30px;
	display: flex;
}

.rodape a {
	display: flex;
	align-items: center;
	margin-right: 20px;
	opacity: 50%;
	font-weight: 400;
	font-size: 20px;
}

.rodape a:hover {
	opacity: 100%;
}

.rodape a:visited {
	color: #1C1C1C;
}

.rodape img {
	width: 30px;
	margin-right: 5px;
}

.dark {
	background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

 .dark .container {
	background: #333439;
}

.dark .perfil {
	color: #F7F7F7;
}

.dark .perfil button {
	color: #F7F7F7;
	border-color: #F7F7F7;
	background: #1C1C1C;
}

.dark .projetos {
	color: #1C1C1C;
}

.dark .rodape a:visited {
	color: #F7F7F7;
}